{% extends "show_api_data/base.html" %}
{% block content %}
<h1> api response:</h1>
<h2 id="hlavny-cas">{{ cas_posledneho }}</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Čas merania</th>
            <th>teplota[°C]</th>
            <th>tlak[Pa]</th>
            <th>vietor</th>
            <th>o3</th>
            <th>vlhkost</th>
            <th>pocet update</th>
        </tr>
    </thead>
    <tbody>
    {% for item in posledne_data %}
    <tr>
        <td id="cas-{{ forloop.counter }}">{{ item.cas }}</td>
        <td id="teplota-{{ forloop.counter }}">{{ item.teplota }}</td>
        <td id="tlak-{{ forloop.counter }}">{{ item.tlak }}</td>
        <td id="vietor-{{ forloop.counter }}">{{ item.vietor }}</td>
        <td id="o3-{{ forloop.counter }}">{{ item.o3 }}</td>
        <td id="vlhkost-{{ forloop.counter }}">{{ item.vlhkost }}</td>
        <td id="pocet_update-{{ forloop.counter }}">{{ item.id }}</td> 
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
async function tableupdate() {
    try {
        const url = "/api/data"; 
        const response = await fetch(url);
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();

        data.forEach((item, index) => {
            let i = index + 1;
            let rowCas = document.getElementById('cas-' + i);
            
            if (rowCas) {
                rowCas.innerText = item.cas;
                document.getElementById('teplota-' + i).innerText = item.teplota;
                document.getElementById('tlak-' + i).innerText = item.tlak;
                document.getElementById('vietor-' + i).innerText = item.vietor;
                document.getElementById('o3-' + i).innerText = item.o3;
                document.getElementById('vlhkost-' + i).innerText = item.vlhkost;
                document.getElementById('pocet_update-' + i).innerText = item.pocet_update;
            }
        });
        
        if (data.length > 0) {
            document.getElementById('hlavny-cas').innerText = data[0].cas;
        }
    } catch (error) {
        console.error("Chyba pri aktualizácii dát:", error);
    }
}

// Spustíme hneď po načítaní stránky
tableupdate();
// Potom každé 2 sekundy
setInterval(tableupdate, 2000);
</script>
{% endblock %}